<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style.css" />
  <link rel="shortcut icon" id="favicon" href="/img/Tekkadan_logo.webp" type="image/x-icon">
  <!-- meta name="description" content="Mobile Suit Gundam Barbatos, ガンダム・バルバトス, is a mobile suit that appears in the Mobile Suit Gundam IRON-BLOODED ORPHANS television series and the side story Gundam IRON-BLOODED ORPHANS Gekko, which is featured in the short story collection Gundam IRON-BLOODED ORPHANS Urdr-Hunt. It is piloted by Mikazuki Augus."> -->

  <title>Mobile Suit|Barbatos| ガンダム・バルバトス</title>
</head>

<body>
  <video preload="auto" autoplay id="preloader">
    <source src="videos/preload.webm" type="video/webm">
  </video>

  <div class="container">
    <div class="containerVideos" hidden>
      <div id="perfOne">
        <video id="premiere" class="skills">
          <source src="videos/vueDessous.webm" type="video/webm">
        </video>
        <img id="body" src="img/body.jpg" hidden alt="">
      </div>
      <div id="perfTwo">
        <video id="deuxieme" class="skills">
          <source src="videos/massue.webm" type="video/webm">
        </video>
        <img id="massue" src="img/massue.jpg" hidden alt="">
      </div>

      <div id="perfThree">
        <video id="troisieme" class="skills">
          <source src="videos/shippo.webm" type="video/webm">
        </video>
        <img id="lupus" src="img/lupus.jpg" hidden alt="">
      </div>
    </div>
    <button class="quitVideo">Return</button>
    <h2>Barbatos's skills</h2>
    <!-- --------------------------LATERAL GAUCHE------------------------------------ -->
    <div class="laterale-gauche">
      <div class="hautG"></div>
      <div class="ecran-gauche">
      </div>
      <div class="basG"></div>
    </div>
    <!-- ---------------------------MILIEU------------------------------------- -->
    <div class="centre">
      <div class="haut-milieu"></div>
      <div class="ecran-milieu">
        <video hidden class="skills" autoplay loop>
          <source src="videos/vueDessous.webm" type="video/webm">
        </video>
        <div class="normalBarbatos">
          <img id="faceB" src="img/face.png" alt="">
          <img id="dosB" src="img/dos.png" hidden alt="">
        </div>
        <div class="tradText">
          <div class="closingButton" hidden>X</div>
          <span class="english" hidden> <%= tradList[0] %></span>
          <span class="japanese" hidden><%= tradList[1] %></span>
        </div>
        <div class="rayBarbatos">
          <img id="scanBface" src="img/faceScanner.png" alt="">
          <img id="scanBdos" hidden src="img/dosScanner.png" alt="">
        </div>
      </div>
      <div class="buttons">
        <button class="intelButton"> <img class="flag" src="img/uk-us.png" alt=""></button>
        <button class="johoButton"> <img class="flag" src="img/japan.png" alt=""></button>
      </div>

      <div class="basMilieu">
        <div class="outils">
          <a href="./outils.ejs"><button>Outils Utilisés</button></a>
        </div>

      </div>
    </div>

    <!-- ----------------------LATERAL DROIT-------------------------------------- -->
    <div class="laterale-droite">
      <div class="hautD"></div>
      <div class="ecran-droit">
        <div class="notice" hidden>『　Attention: Initiating communication sequence. CLICK　』</div>
        <div class="speech" hidden>
          <div class="mika-speech"></div>
        </div>
        <div class="mikazuki" hidden>
          <img class="mikaOne" hidden src="img/augusWaving.png" alt="">
          <img class="mikaTwo" hidden src="img/mikazukiPosing.png" alt="">
        </div>
      </div>
      <div class="basD"></div>
    </div>

  </div>
  <script>
    var preloader = document.getElementById("preloader");
    // faire disparaitre le preloader et  faire apparaitre le site
    function timeOut() {
      preloader.style.display = "none";
    }
    setTimeout(timeOut, 6100);
  </script>
  <script src="app.js"></script>
  <script>
    console.log({
      tradList
    });
  </script>

</body>


</html>